.button {
  display:inline-block;
  width: 40px; 
  height: 25px;
  border-radius: 5px;
  border: 3px solid black;
  text-align: center;
  line-height: 25px;
}

.active {
  background-color: cornflowerblue;
}